body {
	background: url(../resource/img/7.jpg) no-repeat fixed;
	background-size: cover;
	width: 100%;
	height: 100%;
}

.wrapper::after{
	content: "";
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.8;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.under-line {
	height: 3px;
	width: 100px;
	background: #A31F34;
	margin: 20px auto;
}

.title {
	font-size: 3em;
	letter-spacing: 4px;
}

.nav {
	width: 20%;
	height: 100%;
	position: fixed;
	left: 5%;
	background-color: #A31F34;
	z-index: 9999;
	box-sizing: border-box;
	text-align: center;
}

.nav .portrait {
	width: 140px;
	height: 140px;
	/*border: solid 2px #fff;*/
	border-radius: 50%;
	margin: 0 auto;
	margin-top: 35px;
	overflow: hidden;
}

.nav .portrait img {
	height: 100%
}

.nav .author {
	color: #fff;
	letter-spacing: 2px;
	margin-top: 25px;
}

.nav .author .name {
	font-size: 1.5em;
	font-weight: bolder;
}

.nav .author .intention {
	margin-top: 10px;
	font-size: 0.9em;
	color: #eee;
}

.nav .author .phone {
	margin-top: 50px;
	font-style: italic;
}

.nav .author .phone img {
	width: 8%;
	vertical-align: middle;
}

.nav .menu {
	margin: 27px 0 0 0;
}

.nav .menu ul li{
	padding: 23px 0;
	color: #fff;
	font-size: 1.2em;
	letter-spacing: 4px;
	border-bottom: 2px solid rgba(255,255,255,0.5);
	border-image: radial-gradient(circle,#fff, #A31F34) 1;
}

.nav .menu ul li.active {
	background-color: #fff;
	color: #A31F34;
}

.nav .menu ul li:hover {
	background-color: #fff;
	color: #A31F34;
}

.contain {
	position: absolute;
	right: 5%;
	width: 65%;
	color: #fff;
	padding: 60px 15px;
}

.contain > div {
	padding: 20px 30px;
	text-align: center;
	border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}

.edu .edu-contain {
	display: flex;
	justify-content: space-between;
	margin: 100px 0;
}

.contain .edu .edu-contain .edu-left {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	text-align: left;
	letter-spacing: 2px;
}

.contain .edu .edu-contain .edu-left .year {
	font-size: 1.8em;
	color: #A31F34;
	font-weight: bolder;
}

.contain .edu .edu-contain .edu-left p {
	padding: 0 10px;
}

.contain .edu .edu-contain .edu-right {
	width: 50%;
	overflow: hidden;
	box-sizing: border-box;
}

.contain .edu .edu-contain .edu-right img {
	width: 100%;
}

.pro .pro-contain {
	display: flex;
	justify-content: space-between;
	margin: 100px 0;
}

.pro .pro-contain .pro-detail {
	width: 30%;
	background-color: rgba(255, 255, 255, 0.2);
	padding: 20px 10px;
}

.pro .pro-contain .pro-detail .pro-detail-title {
	font-size: 1.8em;
	padding-bottom: 20px;
}

.pro .pro-contain .pro-detail ul {
	margin-top: 20px;
}

.pro .pro-contain .pro-detail ul li{
	text-align: left;
	padding: 25px 10px;
	line-height: 30px;
}

.pro .pro-contain .pro-detail ul li span {
	display: inline-block;
	margin-right: 15px;
	padding: 0 10px;
	background-color: #A31F30;
	border-radius: 20px;
}

.intern .intern-contain .intern-contain-detail{
	display: flex;
	justify-content: space-between;
	margin: 100px 0;
	text-align: left;
	line-height: 30px;
}

.intern .intern-contain .intern-contain-detail > div {
	width: 48%;
}

.intern .intern-contain .intern-contain-detail .year {
	font-size: 1.8em;
	color: #A31F34;
	font-weight: bolder;
}


.intern .intern-contain .intern-contain-detail .intern-contain-title{
	font-size: 1.3em;
	letter-spacing: 2px;
}

.intern .intern-contain .intern-contain-detail .duty {
	font-style: italic;
}

.intern .intern-contain .intern-contain-detail .duty img{
	margin: 10px 10px 10px 0;
	width: 25px;
	vertical-align: middle;
}

.intern .intern-contain .intern-contain-detail ul li{
	list-style-type: disc;
	margin: 0 20px;
}

.intern .intern-contain .intern-contain-detail .job {
	margin-right: 15px;
	padding: 5px 15px;
	background-color: #A31F30;
	border-radius: 20px;
}

.awark img {
	width: 80%;
	margin: 50px 0;
}

.me .me-contain{
	margin: 100px 0;
	text-align: left;
	font-size: 1.2em;
	line-height: 30px;
	padding: 0 50px;
	letter-spacing: 2px;
}

.me .me-contain ul li {
	list-style-type: disc;
	padding: 10px 0;
}